* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    width: 100%;
    height: 140px;
    text-align: center;
    background-color: rgb(9, 9, 56);
}
header .head {
    display: inline-block;
    margin-top: 35px;
    color: white;
    font-size: 30px;
}
header .head-one {
    color: white;
    font-size: 15px;
    margin-top: 13px;
}
/*---------------------------------*/
nav {
    background-color: rgb(48, 40, 40);
    display: flex;
    width: 100%;
}
nav a {
    cursor: pointer;
    
    height: 50px;
    color: white;
    padding: 13px;
    text-align: center;  
}
nav a:hover {
   background-color: rgb(170, 170, 141);
   border-bottom: 2px solid black;
   color: black; 
}
/*-----------------------------------------------*/
#one{
    display: flex;
}
/*-------------------------------*/
#one .container-one {
    margin: 25px;
}
#one .title {
    margin-bottom: 15px;
    font-size: 25px;
}
#one .pıcture {
    width: 925px;
    height: 250px;
}
#one .write {
    margin: 20px;
    font-weight: 500;
    width: 900px;
    text-align: center;
}
/*--------------------------------------*/
#one .sidebar .box {
    background-color: rgb(224, 208, 208);
    height: 1190px;
    width: 100%;
}
#one .sidebar .box .title-two {
    margin-left: 15px;
    margin-bottom: 15px;
}
#one .sidebar .box .box-pıcture {
    margin-left: 20px;
    width: 305px;
    height: 175px;
}
#one .sidebar .box .box-write {
    margin: 10px 20px 10px 20px;
}
#one .sidebar .box .pıcture-four {
    width: 300px;
    height: 70px;
    margin: 10px 20px 10px 20px;
}
/*------------------------------*/
.finish {
    width: 100%;
    height: 50px;
    background-color: rgb(9, 9, 56);
    color: white;
    text-align: center;
}
.finish p {
    padding-top: 15px;
}
/*----------------------------------*/
@media(max-width:700px){
    #one, .container-left{
        flex-direction: column;
    
    }
    .sidebar .box{
        order:-1;
        height: 700px !important;
    }
}
